<!DOCTYPE html>
<html lang="en" ng-app="empty_desks">
<head>
  <meta charset="UTF-8">
  <title>Empty Desks</title>
  <script src="../libs/jquery/dist/jquery.min.js"></script>
  <script src="../libs/angular/angular.min.js"></script>
  <script src="../libs/angular-route/angular-route.min.js"></script>
  <script src="../libs/angular-resource/angular-resource.min.js"></script>
  <link rel="stylesheet" href="../css/style.css">
</head>
<body>
  <h1>Hello World</h1>
  <div ng-view></div>
</body>
</html>
