<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Empty Desks</title>
</head>
<body>
  <h1>Sign In</h1>
  <form id="local-sign-in" action="/login" method="post">
    <div>
        <p></p>
        <label>Username:</label>
        <input type="text" name="username"/>
    </div>
    <div>
        <label>Password:</label>
        <input type="password" name="password"/>
    </div>
    <div>
        <input type="submit" value="Log In"/>
    </div>
  </form>
  <h1>Sign Up</h1>
  <form id="local-reg" action="/local-reg" method="post">
    <div>
        <p></p>
        <label>New Username:</label>
        <input type="text" name="username"/>
    </div>
    <div>
        <p></p>
        <label>New Email:</label>
        <input type="text" name="email"/>
    </div>

    <div>
        <p></p>
        <label>New First Name:</label>
        <input type="text" name="firstName"/>
    </div>

    <div>
        <p></p>
        <label>New Last Name:</label>
        <input type="text" name="lastName"/>
    </div>

    <div>
        <p></p>
        <label>New Avatar Url:</label>
        <input type="text" name="avatar_url"/>
    </div>

    <div>
        <label>New Password:</label>
        <input type="password" name="password"/>
    </div>
    <div>
        <input type="submit" value="Register"/>
    </div>
  </form>
</body>
</html>
