<h1 class="page_header">Add a Desk</h1>
<h4 class="error_message" ng-show="newDeskCtrl.showError">Title and Description Cannot Be Blank</h4>
<form ng-submit="newDeskCtrl.createDesk()">
  <div class="new_title_form">
    <label name="title">Title</label>
    <input type="text" ng-model="newDeskCtrl.newDesk.title">
  </div>
  <div class="new_description_form">
    <label name="description">Description</label>
    <input type="text" name="description" ng-model="newDeskCtrl.newDesk.description">
  </div>
  <input type="submit" value="Create">
</form>

<div class="margin-top"></div>
<div class='allDesks'>
  <div class="desk">
    <div class="desk_container" ng-click="newDeskCtrl.createDesk()">
      <div class="desk_title">
        <span ng-show="!newDeskCtrl.newDesk.title">New Title</span>
        {{newDeskCtrl.newDesk.title}}
      </div>
      <div class="hoz_line"></div>
      <div class="desk_description">
        <span ng-show="!newDeskCtrl.newDesk.description">New Description</span>
        {{newDeskCtrl.newDesk.description}}
      </div>
    </div>
  </div>
</div>

<h1>{{newDeskCtrl.newDesk.users}}</h1>
